@import "../mixins/mixins.scss";
@import "../mixins/var.scss";

@include b(card){
    border-radius:$border-radius-small;
    border:$border-base;
    box-sizing: border-box;
    background-color:$color-primary-light-8;
    overflow: hidden;
    color: $color-text-base;
    transition: .4s;
    @include when(always-shadow){
        box-shadow:$box-shadow-base;
    }
    @include when(hover-shadow){
        &:hover,
        &:focus{
            box-shadow: $box-shadow-base;
        }
    }

    @include e(header){
        padding: 5px;
        background: $color-primary-light-5;
        box-sizing: border-box;
    }

    @include e(body){
        padding: 5px;
        box-sizing: border-box;
    }
}